/* *** recursos *** */
@import "componentes/colors";
@import "componentes/fonts";

/* *** funciones *** */
@mixin bothsize($size) {
    height: $size;
    width: $size;
}

/* *** Globales *** */
* {
    box-sizing: border-box;
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: $font;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $t1txtgrays;
}

h1,
h2 {
    font-weight: $bold;
}

h2 {
    font-size: calc(1.4vw + 1.4em);
}

/* *** Utilidades *** */
.mg-bottom {
    margin-bottom: 30px;
}

/* *** calculadora *** */

.container-calc {
    width: 100%;
    padding: 10px;
}

@media (min-width: 768px) {
    .container-calc {
        width: 450px;
        height: 500px;
    }
}

//header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    p {
        font-size: 12px;
        margin-bottom: 0;
    }

    p:nth-child(1) {
        align-self: flex-end;
    }

    .theme {
        display: flex;
        align-items: center;
    }
}

.swicht-theme {
    margin-left: 4vmin;

    .kind-theme {
        display: flex;
        justify-content: space-around;
    }

    .swicht {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 5px;
        width: 90px;
        height: 27px;
        border-radius: 20px;
        margin-top: 5px;

        a{
            
            position: absolute;
            @include bothsize(16px);
            border-radius: 20px;
            &.theme-2{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;   
            }
            &.theme-3{
                right: 5px;
            }
        }
        span{
            @include bothsize(16px);
            border-radius: 20px;
            background-color: $t1screenbackground;
            cursor: pointer;
        }
    }
}


// screen
.screen {
    border-radius: 10px;
    padding: 15px 20px;
    text-align: right;
    color: $txtwhite;
    
}

// buttons
.buttons {
    display: grid;
    grid-template: repeat(5, 50px)/repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    
    // styles buttons
    .key {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 20px;
    }

    .delete {
        grid-area: 1/4/2/5;
    }

    .result {
        grid-column: 3/5;
    }

    .reset {
        grid-column: span 2;
    }

    // position number
    #suma {
        grid-area: 2/4/3/5;
    }

    #resta {
        grid-area: 3/4/4/5;
    }

    #multiplicacion {
        grid-area: 4/4/5/5;
    }

    #punto {
        grid-area: 4/1/5/2;
    }
}

//themes config


#container.theme-1{
    background-color: $t1mainbackground;

    color: $txtwhite;
    .header{
        color: inherit;
    }
    .swicht-theme {
        .swicht {
            background-color: $t1keybackground;
            a {

                background-color: $t1keybackground-toggle;
            }
        }
    }
    .screen{
        background-color: $t1screenbackground;
    }
    .buttons{
        background-color: $t1togglebackground;
        .number,
        .operation {
            background-color: $keybackground;
            box-shadow: 0px 4px 1px $t1keyshadow;
        }
    
        .delete,
        .reset {
            color: $txtwhite;
            background-color: $t1keybackground;
            box-shadow: 0px 4px 1px $t1keyshadow;
        }
        .result {
            color: $txtwhite;
            background-color: $t1keybackground-toggle;
            box-shadow: 0px 4px 1px $t1keyshadow2;
        }
    }
}
#container.theme-2{
    background-color: $t2mainbackground;
    color: $t2txtgrayish;
    .header{
        color: inherit;
    }
    .swicht-theme {
        .swicht {
            background-color: $t2togglebackground;
            a {

                background-color: $t2keybackground-toggle;
            }
        }
    }
    .screen{
        color: inherit;
        background-color: $t2screenbackground;
    }
    .buttons{
        color: $txtwhite;
        background-color: $t2togglebackground;
        .number,
        .operation {
            background-color: $keybackground;
            box-shadow: 0px 4px 1px $t2keyshadow2;
        }
    
        .delete,
        .reset {
            color: inherit;
            background-color: $t2keybackground;
            box-shadow: 0px 4px 1px $t2keyshadow;
        }
        .result {
            color: inherit;
            background-color: $t2keybackground-toggle;
            box-shadow: 0px 4px 1px $t1keyshadow2;
        }
    }
}
#container.theme-3{
    background-color: $t3mainbackground;
    color: $t3txtLightyellow;
    .header{
        color: inherit;
    }
    .swicht-theme {
        .swicht {
            background-color: $t3togglebackground;
            a {
                background-color: $t3keybackground-toggle;
            }
        }
    }
    .screen{
        color: inherit;
        background-color: $t3togglebackground;
    }
    .buttons{
        color: $t3txtLightyellow;
        background-color: $t3togglebackground;
        .number,
        .operation {
            color: inherit;
            background-color: $t3keybackground2;
            box-shadow: 0px 4px 1px $t3keybackground;
        }
    
        .delete,
        .reset {
            color: $txtwhite;
            background-color: $t3keybackground;
            box-shadow: 0px 4px 1px $t3keyshadow;
        }
        .result {
            color: $txtwhite;
            background-color: $t3keybackground-toggle;
            box-shadow: 0px 4px 1px $t3keyshadow2;
        }
    }
}