/* *** recursos *** */
@import "componentes/colors";
@import "componentes/fonts";

/* *** funciones *** */
@mixin bothsize($size) {
    height: $size;
    width: $size;
}

/* *** Globales *** */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $t1mainbackground;
    font-family: $font;

    overflow: hidden;
}

a {
    text-decoration: none;
    color: $t1txtgrays;
}

h1,
h2 {
    font-weight: $bold;
}

h2 {
    font-size: calc(1.4vw + 1.4em);
}

/* *** Utilidades *** */
.mg-bottom {
    margin-bottom: 30px;
}

/* *** calculadora *** */

.container-calc {
    width: 100%;
    padding: 10px;
}

@media (min-width: 768px) {
    .container-calc {
        width: 450px;
        height: 500px;
    }
}

//header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $t1txtwhite;

    p {
        font-size: 12px;
        margin-bottom: 0;
    }

    p:nth-child(1) {
        align-self: flex-end;
    }

    .theme {
        display: flex;
        align-items: center;
    }
}

.swicht-theme {
    margin-left: 4vmin;

    .kind-theme {
        display: flex;
        justify-content: space-around;
    }

    .swicht {
        position: relative;
        display: flex;
        align-items: center;
        padding: 2px 5px;
        width: 60px;
        height: 18px;
        border-radius: 20px;
        margin-top: 5px;
        background-color: $t1togglebackground;

        &::after {
            content: "";
            position: absolute;
            @include bothsize(14px);
            border-radius: 20px;
            background-color: $t1keybackground-toggle;
        }
    }
}

// screen
.screen {
    border-radius: 10px;
    padding: 15px 20px;
    text-align: right;
    color: $t1txtwhite;
    background-color: $t1screenbackground;
}

// buttons
.buttons {
    display: grid;
    grid-template: repeat(5, 50px)/repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: $t1togglebackground;

    // styles buttons
    .key {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 20px;
    }

    .delete {
        grid-area: 1/4/2/5;
    }

    .number,
    .operation {
        background-color: $keybackground;
        box-shadow: 0px 4px 1px $t1keyshadow;
    }

    .result {
        grid-column: 3/5;
    }

    .reset {
        grid-column: span 2;
    }

    .delete,
    .reset {
        color: $t1txtwhite;
        background-color: $t1keybackground;
        box-shadow: 0px 4px 1px $t1keyshadow;
    }

    .result {
        color: $t1txtwhite;
        background-color: $t1keybackground-toggle;
        box-shadow: 0px 4px 1px $t1keyshadow2;
    }

    // position number
    #suma {
        grid-area: 2/4/3/5;
    }

    #resta {
        grid-area: 3/4/4/5;
    }

    #multiplicacion {
        grid-area: 4/4/5/5;
    }

    #punto {
        grid-area: 4/1/5/2;
    }
}